body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  text-align: center;
}

header {
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.logo {
  width: 120px;
  margin: 15px 0;
}

.btn {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  background: red;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 30px;
}

table {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-collapse: collapse;
}

table td {
  border: 1px solid #ddd;
  padding: 10px;
}
